$white: hsl(0, 0%, 100%);
$stone100: hsl(30, 54%, 90%);
$stone150: hsl(30, 18%, 87%);
$stone600: hsl(30, 10%, 34%);
$stone900: hsl(24, 5%, 18%);
$brown800: hsl(14, 45%, 36%);
$rose800: hsl(332, 51%, 32%);
$rose50: hsl(330, 100%, 98%);

// @font-face {
// 	font-family: Outfit;
// 	src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
// }

// @font-face {
// 	font-family: "Young Serif";
// 	src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
// }

@mixin flexCenter($direction) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	@include flexCenter(column);
	width: 100vw;
	font-family: Outfit;
	background-color: $white;
}

header {
	margin-bottom: 2rem;

	img {
		width: 100%;
	}
}

.content {
	min-width: 375px;
	background-color: $white;
}

li {
	padding: 0.5rem 0;
}

section {
	padding: 0 2rem 0; //xout

	h2 {
		font-family: "Young Serif";
		font-weight: 600;
	}

	ul,
	ol {
		margin-left: 1.5rem;

		li {
			padding-left: 1rem;
		}
	}
}

.content__intro {
	margin-bottom: 1rem;

	h1 {
		font-family: "Young Serif";
		margin-bottom: 1rem;
		color: $stone900;
	}

	p,
	li {
		color: $stone600;
	}

	.prep-time {
		margin-top: 1rem;
		padding: 1rem;
		line-height: 1.2;
		border-radius: 1rem;
		background-color: $rose50;

		li::marker {
			color: $rose800;
		}

		h2 {
			font-family: Outfit;
			color: $rose800;
		}
	}
}

.content__ingredients {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	color: $stone600;
	border-bottom: solid 1px $stone150;

	h2,
	li::marker {
		color: $brown800;
	}
}

.content__instructions {
	width: 100%;
	padding-bottom: 1rem;
	border-bottom: solid 1px $stone150;

	// border: 1px solid;

	h2 {
		color: $brown800;
		margin-bottom: 0.5rem;
	}

	li {
		color: $stone600;

		&::marker {
			font-weight: bold;
			color: $brown800;
		}
	}
}

.content__nutrition {
	padding-top: 1rem;
	// border: 1px solid;

	h2 {
		color: $brown800;
		margin-bottom: 1rem;
	}

	p {
		color: $stone600;
		margin-bottom: 1rem;
		// border: 1px solid;
	}

	table {
		width: 100%;
		margin: 0 auto;
		border-collapse: collapse;
		color: $stone600;

		tr:nth-child(-n + 3) {
			border-bottom: 1px solid $stone150;
		}

		td {
			padding: 0.5rem;

			&:nth-child(1) {
				width: 47%;
				padding-left: 2rem;
			}

			&:nth-child(2) {
				color: $brown800;
				font-weight: 600;
			}
		}
	}
}

// md
@media (min-width: 768px) {
	.content {
		min-width: 385px;
	}

	section {
		padding: 0 3rem;
	}
}

//lg
@media (1024px <= width <= 1440px) {
	body {
		padding: 3rem 5rem;
		background-color: $stone100;
	}

	.content {
		padding: 2rem;
		border-radius: 1rem;
		background-color: $white;

		.page-image {
			border-radius: 1rem;
		}
	}
}
